@model PasarDatosAlControlador.Models.ViewModels.PersonaListDepartamento
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PersonaModificada</title>
</head>
<body>
    <div>
        <ol>
            <li>ID: @Model.idPersona</li>
            <li>Nombre: @Model.nombre</li>
            <li>Apellidos: @Model.apellidos</li>
            <li>Direccion: @Model.direccion</li>
            <li>Teléfono: @Model.telefono</li>
            <li>Fecha Nacimiento: @Model.fechaNac</li>
            <li>Departamento: 
            @foreach (var @departamento in Model.lista.lista)
            {
                if (@departamento.idDepartamento == Model.idDepartamento)
                {
                    @departamento.nombre
                }
            }
            </li>
        </ol>
    </div>
</body>
</html>
